<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>CarController</servlet-name>
        <servlet-class>com.myWebApp.controllers.CarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddACarController</servlet-name>
        <servlet-class>com.myWebApp.controllers.AddACarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditACarController</servlet-name>
        <servlet-class>com.myWebApp.controllers.EditACarController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteACarController</servlet-name>
        <servlet-class>com.myWebApp.controllers.DeleteACarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CarController</servlet-name>
        <url-pattern>/CarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddACarController</servlet-name>
        <url-pattern>/AddACarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditACarController</servlet-name>
        <url-pattern>/EditACarController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteACarController</servlet-name>
        <url-pattern>/DeleteACarController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
